.main-view {
    text-align: center;
    background-color: lightblue;
  }
  
  .movie-container {
    display: inline-block;
  }
  
  .movie-card {
    background-color: lightcoral;
    width: 250px;
    margin: 10px 20px;
    &:hover,
    &:active {
      cursor: pointer;
    }
  }
  
  .card-title {
    width: 250px;
    height: 250px;
    box-shadow: 0 0 5px 2px black;
    overflow: auto;
  }