.main-view {
    background-color: black;
}

.nav-bar {
    position: relative;
    display: flex;
    background-image: linear-gradient(
        to right,
        rgba(00,0,0,1) 0%,
        rgb(8, 20, 92) 50%
    )
}