.main-view {
    background-color: black;
    justify-content: center;
}

.nav-bar {
    position: fixed;
    display: flex;
    margin-bottom: 0px;
    background-image: linear-gradient(
        to right,
        rgba(00,0,0,1) 0%,
        rgb(8, 20, 92) 50%
    )
}