
.movieView {
    text-align: center;
    background-color: black;
}

.back-movies {
    margin-top: 20px;
    margin-bottom: 20px;
}

.movie-title, .movie-director, .movie-genre {
    text-decoration: underline;
}