//Primary color
$black: #000000;

html, body{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  background: $black;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}

.main-container {
  margin-top: 5px;
  background-color: $black;
  
}

.app-container {
  background-color: $black;
  padding: 5px;
}

