//Primary color
$black: #000000;

//Secondary color
$blue: blue;

.main-container {
  width: 100%;
  height: 100%;
}

.app-container {
  background-color: $black;
  height: 100%;
  padding-bottom: 5px;
}

.container {
  background-color: white;
  height: 100%;
}